@import "../mixins.scss";

.hue-slider {
  appearance: none;
  outline: none;
  position: relative;
  flex: 1;
  height: 8px;
  margin-left: 2vmin;
  border-radius: 5px;
  transition: all .3s;
  background: linear-gradient(
    to right,
    hsl(0, 80%, 70%) 0%,
    hsl(30, 80%, 70%) 8.3%,
    hsl(60, 80%, 70%) 16.6%,
    hsl(90, 80%, 70%) 25%,
    hsl(120, 80%, 70%) 33.3%,
    hsl(150, 80%, 70%) 41.6%,
    hsl(180, 80%, 70%) 50%,
    hsl(210, 80%, 70%) 58.3%,
    hsl(240, 80%, 70%) 66.6%,
    hsl(270, 80%, 70%) 75%,
    hsl(300, 80%, 70%) 83.3%,
    hsl(330, 80%, 70%) 91.6%,
    hsl(360, 80%, 70%) 100%
  );

  &.mono {
    background: linear-gradient(
      to bottom,
      #444 0%,
      #111 100%
    );
  }

  &:not(.mono):focus {
    height: 10px;
    background: linear-gradient(
      to right,
      hsl(0, 100%, 50%) 0%,
      hsl(30, 100%, 50%) 8.3%,
      hsl(60, 100%, 50%) 16.6%,
      hsl(90, 100%, 50%) 25%,
      hsl(120, 100%, 50%) 33.3%,
      hsl(150, 100%, 50%) 41.6%,
      hsl(180, 100%, 50%) 50%,
      hsl(210, 100%, 50%) 58.3%,
      hsl(240, 100%, 50%) 66.6%,
      hsl(270, 100%, 50%) 75%,
      hsl(300, 100%, 50%) 83.3%,
      hsl(330, 100%, 50%) 91.6%,
      hsl(360, 100%, 50%) 100%
    );
  }

  &::-webkit-slider-thumb {
    @include slider-thumb;
  }

  &::-moz-range-thumb {
    @include slider-thumb;
  }

  &:not(.mono):focus::-webkit-slider-thumb {
    @include non-mono-slider-thumb-focus;
  }

  &:not(.mono):focus::-moz-range-thumb {
    @include non-mono-slider-thumb-focus;
  }
}
