@import "../mixins.scss";

.mono-toggle {
  @include button-reset;
  outline: none;

  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 2vmin;
  cursor: pointer;
  transform: scale(.7, .6);
  opacity: 0;
  animation: appear .3s .1s forwards cubic-bezier(0.34, 1.56, 0.64, 1);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    transform: translate(-50%, -50%);
    height: 15px;
    border-radius: 50%;
    transition: background-position .2s;
    background-size: 200%;
    background-image: linear-gradient(
      to right,
      white 24%,
      #777 28%,
      #777 70%,
      white 74%
    );
    box-shadow:
      0 0 0 1.5px white,
      0 0 0 3px #777;
  }

  &:hover::after {
    background-image: linear-gradient(
      to right,
      white 24%,
      #333 28%,
      #333 70%,
      white 74%
    );
    box-shadow:
      0 0 0 1.5px white,
      0 0 0 3px #333;
  }

  &:active::after {
    background-image: linear-gradient(
      to right,
      #f5f5f5 24%,
      #888 28%,
      #888 70%,
      #f5f5f5 74%
    );
    box-shadow:
      0 0 0 1.5px white,
      0 0 0 3px #888;
  }

  &:checked::after,
  &:checked:active::after {
    background-position: 89% 0;
    background-image: linear-gradient(
      to right,
      white 24%,
      black 28%,
      black 70%,
      white 74%
    );
    box-shadow:
      0 0 0 1.5px white,
      0 0 0 3px black;
  }

  &:focus::after {
    box-shadow:
      0 0 0 1.5px white,
      0 0 0 3px #333,
      0 0 0 5px white,
      0 0 1px 8px rgba(black, .4);
  }

  &:checked:focus::after {
    box-shadow:
      0 0 0 1.5px white,
      0 0 0 3px black,
      0 0 0 5px white,
      0 0 1px 8px rgba(black, .6);
  }
}
