:root {
  --show-info-duration: .3s;
  --content-width: max(340px, min(80vmin, 800px));
  --font-size: max(14px, min(3vmin, 20px)); }

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: normal var(--font-size)/1.4 helvetica, sans-serif; }

.container {
  position: relative;
  padding: 2vmin;
  top: -2vmin;
  left: -2vmin; }

@-webkit-keyframes appear {
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes appear {
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }
